/* Var --------------------*/
:root{
    --col-primary: #2E2E2E;
    --bg-primary: #EEE4E1;
}

/* Class ------------------*/
.d-flex{    display: flex;  }
.jc-between{    justify-content: space-between; }
.jc-center{ justify-content: center;    }
.align-center{  align-items: center;    }
.w-100{ width: 100%;    }

/* Generic ----------------*/
ul{ list-style: none;   }

a{
    text-decoration: none;
    color: var(--col-primary);
}

/* Body ____________________________________________________________________________________________________*/
body{
    margin: 0;
}

/* Header __________________________________________________________________________________________________*/
header > div{    
    padding: 0 3rem;
    background-color: var(--bg-primary);
}

header > div > div{
    width: 20%; 
    text-align: center;
}

header figure{  margin: 0;  }

header nav{ width: 33.75rem;    }

header ul{  padding: 0; }

.actual-links{
    border-bottom: solid 3px #B2967D;
}

header li:not(.actual-links){
    transition-duration: 250ms;
    transition-property: border-bottom;
}
header li:hover{
    border-bottom: solid 3px #B2967D;
}